<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="panawaapps.pantaupilkada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon_only"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MasukActivity" />
        <activity android:name=".activity.DaftarActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PengamatActivity"
            android:label="Pengamat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PengawasActivity"
            android:label="Pengawas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SaksiActivity"
            android:label="Saksi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DaftarKontestanActivity"
            android:label="Provinsi Daftar Kontestan"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.PickLocationActivity"
            android:label="Pilih Daerah TPS" />

        <activity
            android:name=".activity.KabupatenActivity"
            android:label="Pilih Kabupaten" />
        <activity
            android:name=".activity.KecamatanActivity"
            android:label="Pilih Kecamatan" />
        <activity
            android:name=".activity.KelurahanActivity"
            android:label="Pilih Kelurahan" />
        <activity
            android:name=".activity.TPSActivity"
            android:label="Pilih TPS" />
        <activity android:name=".activity.ReplyHomeActivity" />
        <activity
            android:name=".activity.KandidatActivity"
            android:label="Kandidat"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".activity.DariKandidatActivity" -->
        <!-- android:label="Kandidat" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="panawaapps.pantaupilkada.activity.KandidatActivity" /> -->
        <!-- </activity> -->
        <activity android:name=".activity.DariKandidatTambahPostActivity" />
        <activity
            android:name=".activity.AboutMeActivity"
            android:label="About Me" />
        <activity android:name=".activity.DariKandidatActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".activity.AboutMeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AboutMeActivity" />
        </activity>
        <activity android:name=".activity.DiapresiasiActivity" />
        <activity android:name=".activity.DiperhatikanActivity"></activity>

        <activity android:name="com.facebook.FacebookActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />



    </application>

</manifest>
