<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="panawaapps.pantaupilkada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MasukActivity" />
        <activity android:name=".activity.DaftarActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PengamatActivity"
            android:label="Pengamat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PengawasActivity"
            android:label="Pengawas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DaftarKontestanActivity"
            android:label="Kontestan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.KabupatenActivity"
            android:label="Pilih Kabupaten"></activity>

        <activity android:name=".activity.KecamatanActivity"
            android:label="Pilih Kecamatan"></activity>

        <activity android:name=".activity.KelurahanActivity"
            android:label="Pilih Kelurahan"></activity>

        <activity android:name=".activity.TPSActivity"
            android:label="Pilih TPS"></activity>
    </application>

</manifest>
